@-ms-viewport{width: device-width;}

/* PC용 1680px 이상일 때 폰트사이트 15px */
@media screen and (max-width: 1680px) {
    html {font-size: 15px;}
}
/* PC용 736px 이하일 때 폰트사이즈 12px */
@media screen and (max-width: 736px) {
    html {font-size: 16px;}
}
/* 360px 이하일 때 폰트사이즈 9px */
@media screen and (max-width: 360px) {
    html {font-size: 16px;}
}

/* 페이지 전체 확장*/
body {margin: 0;} 
/* nav(input, button) */
    /*---------------------------------------------------*/
    /* 헤더(nav) flex박스 선언*/
    .navbar {display:flex; background-image:url("../img/header.png"); justify-content: space-between; align-items: center; height:11rem;}
    /*---------------------------------------------------*/
    /* ul태그(채팅방명 입력/방생성 또는 참가 버튼) */
    .navbar_menu{display:flex; list-style: none;}
    /*---------------------------------------------------*/
    /* 채팅방명 입력 textarea 효과*/
    .navbar_menu input {background-color: white; border-radius: 8px;}
    .navbar_menu input:hover {background-color:aquamarine; border-radius: 8px;}
    /*---------------------------------------------------*/
    /*방생성 또는 참가하기 버튼 효과*/
    .navbar_menu button {background-color:white; margin-left:5px; border-radius: 8px;}
    .navbar_menu button:hover {background-color: aqua; border-radius: 8px; cursor: pointer;}
    /*---------------------------------------------------*/

/* (nav) 반응형*/
    /*---------------------------------------------------*/
    @media all and (max-width: 576px){
        .navbar {width:100%; justify-content: space-between; align-items: center;}
        .navbar_menu {flex-direction: column; align-items: flex-start;}
        .navbar_menu input{margin-top:3rem; width:11rem; height:2rem;}
        .navbar_menu button{margin-top:0.5rem; margin-left:-0; width: 7.5rem; height: 2rem;}
        .navbar_menu button p{font-size:3px; font-family:sans-serif;}
    }
/*---------------------------------------------------*/

/*메인섹션 (방 생성자(방장) 비디오 위치) */
    /*---------------------------------------------------*/
    .video_st{width:28rem; z-index:2;}
    /* .video_main{width:28rem; height:35%;} */
    .cont_btn{position: relative; width:28rem; width: 100%; margin-left:7rem; margin-top:-3.5rem; z-index:1;}
    /*---------------------------------------------------*/
    @media screen and (max-width: 736px) {
        /* PC = 28rem 사이즈/ 가로 736px 이상시 28rem 고정 (전체화면)으로 출력*/
        .video_st{width:28rem;
            /* 중앙위치 처리*/
            justify-content: space-between; align-items: center;}
        .video_main{width:100%; justify-content: space-between; align-items: center;}

        /* 모바일 가로 480까지 비디오 화면 크기100% */
        /* 480 이상은 PC와 동일한 크기로 출력*/
    @media screen and (max-width: 480px){
        .video_st{width:100%;
            /* 중앙위치 처리*/
            justify-content: space-between; align-items: center;}
        }
    }
    /* 버튼 */
        /* 데스크탑/랩탑 */
    /* 태블릿, 아이패드(세로)*/
    @media all and (min-width: 768px) and (max-width: 1023px) {
        .cont_btn {width:28rem; width: 100%; margin-left:8rem; margin-top:-3.5rem; z-index:1;
        }
    }
    /* 태블릿, 아이패드(가로)*/
    @media all and (min-width: 768px) and (max-width: 1023px) and (orientatation:landscape) {
        .cont_btn {width:28rem; width: 100%; margin-left:8rem; margin-top:-3.5rem; z-index:1;
        }
    }
    /* 저해상도 태블릿, 모바일(가로)*/
    @media all and (min-width: 481px) and (max-width: 767px) {
        .cont_btn {width:28rem; width: 100%; margin-left:7.5rem; margin-top:-3.5rem; z-index:1;
        }
    }
    /* 스마트폰 모바일 기기*/
    @media all and (min-width: 320px) and (max-width: 480px) {
        .cont_btn {width:28rem; width: 100%; margin-left:5rem; margin-top:-3.5rem; z-index:1;
        }
    }
/*---------------------------------------------------*/
/* 비디오 음소거/재생/나가기 버튼 */
/*---------------------------------------------------*/
.video_main button{border:0; outline:0; background-color: transparent;}
/*---------------------------------------------------*/



/* 영상통화 참가시 참여자 영상 컨테이너*/
    /*---------------------------------------------------*/
    .video_join{ width:100%; background-color:bisque; height:80%;}
    /*---------------------------------------------------*/
        @media screen and (max-width: 736px) {
            .video_join {width:100%; height: 100%; justify-content: space-between; align-items: center;}
            }
        @media screen and (max-width: 480px){
            .video_join {width:100%; height: 100%; justify-content: space-between; align-items: center;}
            }
    /*---------------------------------------------------*/


/* footer */
    /*---------------------------------------------------*/
    /* footer 이미지 및 하단 고정*/
    /*---------------------------------------------------*/
    .footer {position:fixed; background-image:url("../img/footer.png"); width:100%; bottom:0; height:4rem;}
    /*---------------------------------------------------*/
        /* footer 이미지 크기 조정*/
        @media all and (max-width: 576px){
            .footer {width:100%; height:2.5rem;}
        }
    /*---------------------------------------------------*/
