@-ms-viewport{
    width: device-width;
}

/* PC용 1680px 이상일 때 폰트사이트 15px */
@media screen and (max-width: 1680px) {
    html {
        font-size: 15px;
    }
}
/* PC용 736px 이하일 때 폰트사이즈 12px */
@media screen and (max-width: 736px) {
    html {
        font-size: 16px;
    }
}
/* 360px 이하일 때 폰트사이즈 9px */
@media screen and (max-width: 360px) {
    html {
        font-size: 16px;
    }
}

/* 페이지 전체 확장*/
body {margin: 0;} 
/*---------------------------------------------------*/
/* 헤더(nav) flex박스 선언*/
.navbar {display:flex; background-image:url("../img/header.png"); justify-content: space-between; align-items: center; height:11rem;}
/*---------------------------------------------------*/
/* ul태그(채팅방명 입력/방생성 또는 참가 버튼) */
.navbar_menu{display:flex; list-style: none;}
/*---------------------------------------------------*/
/* 채팅방명 입력 textarea 효과*/
.navbar_menu input {background-color: white; border-radius: 8px;}
.navbar_menu input:hover {background-color:aquamarine; border-radius: 8px;}
/*---------------------------------------------------*/
/*방생성 또는 참가하기 버튼 효과*/
.navbar_menu button {background-color:white; margin-left:5px; border-radius: 8px;}
.navbar_menu button:hover {background-color: aqua; border-radius: 8px; cursor: pointer;}
/*---------------------------------------------------*/

/* 헤더(nav) 반응형*/
@media all and (max-width: 576px){
    .navbar {
        width:100%;
        justify-content: space-between;
        align-items: center;
    }
    .navbar_menu {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar_menu input{
        margin-top:3rem;
        width:11rem;
        height:2rem;
    }
    .navbar_menu button{
        margin-top:0.5rem;
        margin-left:-0;
        width: 7.5rem;
        height: 2rem;
    }
    .navbar_menu button p{
        font-size:3px;
        font-family:sans-serif;
    }
}
/*---------------------------------------------------*/

/*---------------------------------------------------*/
/*메인섹션 영상통화버튼(마이크/재생/통화종료) */
.video_st{width:28rem; z-index:2;}
.video_main{ width:28rem;}
.video_join{ width:100%;}
.video_main button{border:0; outline:0; background-color: transparent;}
/*---------------------------------------------------*/
@media screen and (max-width: 736px) {
    /* PC = 28rem 사이즈/ 가로 736px 이상시 28rem 고정 (전체화면)으로 출력*/
    .video_st{
        width:28rem;
        /* 중앙위치 처리*/
        justify-content: space-between;
        align-items: center;
    }
    .video_main{
        width:100%;
        justify-content: space-between;
        align-items: center;
    }

    /* 모바일 가로 480까지 비디오 화면 크기100% */
    /* 480 이상은 PC와 동일한 크기로 출력*/
@media screen and (max-width: 480px){
    .video_st{
        width:100%;
        /* 중앙위치 처리*/
        justify-content: space-between;
        align-items: center;
    }

}
}
